	{% extends 'SICLAAraBundle::base.html.twig' %}

	{% block main %}
	{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}

	<form action="" method="post">

		{{ form_label(form.annonce,'Modifier le contenu de votre annonce') }}
		{{ form_widget(form.annonce	) }} <br/>

		<button class="btn btn-success" type="submit">Valider</button>
	</form>
	{% endblock %}