{% extends 'SidusBundle::base.html.twig' %}


{% block main %}
	<div class="hero-unit">
		<h1>Hello world !</h1>
		<p>The Sf2 SidusBundle is a comprehensive extension to Symfony to create dynamic website and web-applications easily.</p>
		<p>
			<a class="btn btn-primary btn-large">Learn more</a>
		</p>
	</div>
{% endblock %}