{% extends 'SICLAAraBundle::araBase.html.twig' %}
{% block main %}
			<div id="map" style="width: 300px; height: 300px;"></div>
	<div class="energie">
		<div class="curseur_energie">
			<--
		</div>
	</div>
	
	<div class="ges">
		<div class="curseur_ges">
			<--
		</div>
	</div>		
			
{% endblock %}