<div class="container-fluid">
	<a class="close close-container" href="#">&times;</a>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">Siblings</a>
		</li>
		<li><a href="#">Favorites</a></li>
	</ul>
	<ul class="nav nav-tabs nav-stacked">
		{% for sibling in siblings %}
			{% if sibling.nodeId == node.id %}
				<li class="disabled"><a>{{ sibling.object }}</a></li>
			{% else %}
				<li><a href="{{ path('sidus_show_node', { 'node_id': sibling.nodeId }) }}">{{ sibling.object }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="pagination pagination-centered pagination-mini">
		<ul>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li class="disabled"><a href="#">&hellip;</a></li>
			<li><a href="#">12</a></li>
		</ul>
	</div>
</div>