{% extends 'SidusBundle:Default:base.html.twig' %}

{% block main %}
	<h1>User</h1>
	<form action="#" method="post">
		{{ form_widget(form) }}
		<button type="submit" class="btn" title="Submit">Submit</button>
	</form>
	
{% endblock %}