{% extends 'SidusBundle::base.html.twig' %}
{% block container_west %}
{% endblock %}
{% block container_east %}
{% endblock %}

{% block messages %}
	{% if error %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ error.message }}
		</div>
	{% endif %}
{% endblock %}
{% block main %}
	<form action={{path('login_check')}} method="post">
		<label for="username">Username</label>
		<input type="text" id="username" name="_username" value="{{last_username}}"/>
		<label for="password">Password</label>
		<input type="password" id="password" name="_password"/>
		<br/>
		<button type="submit">Log-in</button>
	</form>
{% endblock %}