{% extends 'SidusBundle::base.html.twig' %}

{% block message %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> This is a warning example.
</div>
{% endblock %}

{% block main %}
<form action="" method="post">
	{{form_widget(form)}}
	<button class="btn" type="submit">Validate</button>
</form>
{% endblock %}
