{% extends 'HydraBundle::HydraBase.html.twig' %}

{% block message %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> This is a warning example.
</div>
{% endblock %}

{% block main %}
{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}

<h1>Créer une nouvelle famille d'accueil</h1>
<form action="" method="post">
	{{ form_widget(form) }}
	<button class="btn" type="submit">Valider</button>
</form>
{% endblock %}